.ldblue {
  color: #01579b;
}

.headerTitle {
  font-size: 3em;
  font-family: "pollen-web",serif;
  display: inline-block;
  vertical-align: top;
}

.logo {
  height: 8vh;
  display: inline-block;
  margin-left: 1em;
  margin-top: .5em;
}

html {
  background: url(../images/authBackground.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.input-field input:focus + label {
  color: #01579b !important;
}

.row .input-field input:focus {
  border-bottom: 1px solid #01579b  !important;
  box-shadow: 0 1px 0 0 #01579b  !important;
}

.input-field input:focus + label {
  color: #01579b !important;
}

.checkboxColor:checked + label:before {
  top: -4px;
  left: -3px;
  width: 12px;
  height: 22px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #01579b !important; /* You need to change the colour here */
  border-bottom: 2px solid #01579b !important; /* And here */
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.row .input-field input:focus {
  border-bottom: 1px solid #01579b  !important;
  box-shadow: 0 1px 0 0 #01579b  !important
}

.statement {
  font-family: "pollen-web",serif;
  font-size: 6vw;
  color: white;
  text-shadow: 0 0px 1vw black;
  text-align: center;"
}

.subheading {
   /*font-family: "pollen-web",serif;*/
  font-size: 1.5em;
  color: white;
  text-shadow: 0 0px .3vw black;
  text-align: center;
  bottom: 0;
}

#startButton {
   /*display: inline-block;*/
/*   position: fixed;
   bottom: 0;*/
/*   text-align: center;*/
}

.footerholder {
  bottom: 0;
  position: fixed;
  text-align: center;
  width: 100%;
}

.footer {
  height: 15vh;
  margin: auto;
  width: 85vw;
}

.subheadingholder1 {
  bottom: 0;
  position: fixed;
  text-align: center;
  width: 100%;
}

.subheadingholder2 {
  height: 30vh;
  margin: auto;
  width: 85vw;
}

.container {
  padding-right: 2vw;
  padding-left: 2vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
}
/*The div in which we append all the bars*/
/*.progress-bars {
   width: 350px;
   min-height: 100px;
   margin-bottom: 50px;
   padding: 25px 0 0 25px;
   float: left;
}*/

/*The actual bar with the progress*/
/*.bar {
   display: block;
   overflow: hidden;
   height: 18px;
   width: 0px;
   border: 1px solid rgba(0, 0, 0, 0.5);
   border-radius: 10px;
   margin-bottom: 5px;
   margin-left: 10px;
   box-shadow: 1px 1px 1px #888888;
}*/

/*The pattern*/
/*.pattern {
   height: 100%;
   width: 100%;
   background-image: url(../images/pattern.png);
   background-color: #FB7457;
}*/

/*Div to display the percentage*/
/*.percentage {
   margin-left: 0px;
   text-align: center;
   font-family: "Verdana", sans-serif;
   font-size: 0.8em;
   line-height: 18px;
}*/