
<h3>Goals</h3>

<button class="btn btn-primary" ng-click="vm.test()">Test Things</button>
<!-- Modal Trigger -->
<div>---------------------</div>
<div class="col">
    <!-- Modal Trigger -->
    <a class="btn" data-target="newGoalModal" modal>Add a goal</a>
</div>

<br>

<!-- Current Goals -->
<div ng-repeat="goal in vm.goals | filter:{complete: false, GoalId: null}">
  <canvas id="base" class="chart-horizontal-bar"
    chart-data="data" chart-labels="labels" chart-options="options">
  </canvas>
  <div class="collapsible-header" style="padding-right: 0px">
    <ul class="collection with-header">
      <li class="collection-header">
        <input ng-click="vm.completeGoal(goal)" type="checkbox" id="{{goal.id}}" ng-checked="{{goal.complete}}"/>
        <label for="{{goal.id}}" style="display: initial;">{{goal.goalName}}</label>
        <!-- TODO: Create link to settings/update -->
        <!-- <a> -->
          <i ng-click="vm.toggleSubs(goal)" class="material-icons right" style="margin: 0px 15px 0px 0px;">settings</i>
          <i ng-click="vm.deleteGoal(goal.id)" class="material-icons right" style="margin: 0px 15px 0px 0px;">delete</i>
          <a class="btn right" ng-click="vm.toggleAdd(goal)" style="margin: 0px 15px 0px 0px;">Add subgoal</a>
        <!-- </a> -->
      </li>
      <div ng-show="goal.addDisplayed" class="row">
        <form ng-submit="vm.addGoal(goal.id)">
          <div class="row">
            <div class="input-field" style="margin: 0px 40px 0px 40px;">
              <input ng-model="vm.goal" placeholder="Add a New Goal" required>
            </div>
          </div>
        </form>
     </div>
      <div ng-show="goal.subsDisplayed">
        <div ng-repeat="sub in vm.goals | filter: {GoalId: goal.id}">
          <li class="collection-item">
            <input ng-click="vm.completeGoal(sub)" type="checkbox" id="{{sub.id}}" ng-checked="{{sub.complete}}"/>
            <label for="{{sub.id}}" style="display: initial;">{{sub.goalName}}
            </label>
            <i ng-click="vm.deleteGoal(sub.id)" class="material-icons right" style="margin: 0px 15px 0px 0px;">delete</i>
          </li>
        </div>
      </div>
    </ul>
  </div>
</div>

<!-- Completed Goals -->
<h3>Completed</h3>
<div ng-repeat="goal in vm.goals | filter:{complete: true, GoalId: null}">
  <div class="collapsible-header" style="padding-right: 0px">
    <ul class="collection with-header">
      <li class="collection-header">
        <input type="checkbox" id="{{goal.id}}" ng-checked="{{goal.complete}}" disabled="disabled" />
        <label for="{{goal.id}}" style="display: initial;">{{goal.goalName}}</label>
        <!-- TODO: Create link to settings/update -->
        <!-- <a> -->
          <i class="material-icons right" style="margin: 0px 15px 0px 0px;">settings</i>
          <i ng-click='vm.deleteGoal(goal.id)' class="material-icons right" style="margin: 0px 15px 0px 0px;">delete</i>
        <!-- </a> -->
      </li>
      <div ng-repeat="sub in vm.goals | filter: {GoalId: goal.id}">
        <li class="collection-item">{{sub.goalName}}</li>
        <i ng-click='vm.deleteGoal(sub.id)' class="material-icons right" style="margin: 0px 15px 0px 0px;">delete</i>
      </div>
    </ul>
  </div>
</div>

<!-- Modal Structure -->
<div id="newGoalModal" class="modal">
  <div class="modal-content">
    <div class="row">
      <form ng-submit="vm.addGoal()">
        <div class="row">
          <div class="input-field">
            <input ng-model="vm.goal" placeholder="Add a New Goal" required>
          </div>
        </div>
      </form>
   </div>
  </div>
</div>
