<h3>Goals</h3>
<div class="col">
    <!-- Add Main Goal Modal Trigger -->
    <a class="btn" data-target="newGoalModal" modal>Add a goal</a>
</div>

<br>

<!-- Current Goals -->
<div ng-repeat="goal in vm.goals | filter:{complete: false, GoalId: null}">
  <div class="collapsible-header" style="padding-right: 0px">
    <ul class="collection with-header">
      <span>
      <li class="collection-header">
        <!-- Checkbox -->
        <input ng-click="vm.updateCompleteGoal(goal)" type="checkbox" id="{{goal.id}}" ng-checked="{{goal.complete}}"/>
        <!-- Goal Name -->
        <label for="{{goal.id}}" style="display: initial;">{{goal.goalName}}</label>
        <!-- Data Chart -->
        <canvas id="base" height="20" width="180" class="chart-horizontal-bar" chart-data=goal.progress chart-labels="vm.labels" chart-options="vm.options" style="height: 40px"></canvas>
        <!-- Delete Goal -->
        <i ng-click="vm.deleteGoal(goal.id)" class="material-icons right" style="margin: 10px 15px 10px 0px;">delete_forever</i>
        <!-- Add Progress -->
        <a data-target="goalProgressModal" style="color: black;" modal>
          <i class="material-icons right" style="margin: 10px 15px 10px 0px;">insert_chart</i>
        </a>
        <!-- Create New Sub Goal -->
        <a ng-click="vm.parentGoal = goal.id" data-target="newSubGoalModal" style="color: black;" modal>
          <i class="material-icons right" style="margin: 10px 15px 10px 0px;">library_add</i>
        </a>
        <!-- Display Sub Goals -->
        <span ng-if="goal.hasChildren">
          <i ng-click="vm.toggleSubs(goal)" class="material-icons right" style="margin: 10px 15px 10px 0px;">swap_vertical_circle</i>
        </span>
      </li>
      </br>
      <!-- Sub Goals -->
      <div ng-show="goal.subsDisplayed">
        <div ng-repeat="sub in vm.goals | filter: {GoalId: goal.id}:true">
          <li class="collection-item">
            <!-- Checkbox -->
            <input ng-click="vm.updateCompleteGoal(sub)" type="checkbox" id="{{sub.id}}" ng-checked="{{sub.complete}}"/>
            <!-- Sub Goal Name -->
            <label for="{{sub.id}}" style="display: initial;">{{sub.goalName}}</label>
            <!-- Delete Sub Goal -->
            <i ng-click="vm.deleteGoal(sub.id)" class="material-icons right" style="margin: 0px 15px 0px 0px;">delete_forever</i>
            <!-- Add Progress -->
            <a ng-if="!sub.complete" data-target="subProgressModal" style="color: black;" modal>
              <i ng-if="!sub.complete" class="material-icons right" style="margin: 0px 15px 0px 0px;">insert_chart</i>
            </a>
          </li>
        </div>
      </div>
    </ul>
  </div>
</div>

<!-- Completed Goals -->
<h3>Completed</h3>
<div ng-repeat="goal in vm.goals | filter:{complete: true, GoalId: null}">
  <div class="collapsible-header" style="padding-right: 0px">
    <ul class="collection with-header">
      <li class="collection-header">
        <!-- Checkbox -->
        <input ng-click="vm.updateCompleteGoal(goal)" type="checkbox" id="{{goal.id}}" ng-checked="{{goal.complete}}"  />
        <!-- Goal Name -->
        <label for="{{goal.id}}" style="display: initial;">{{goal.goalName}}</label>
        <!-- Delete Goal -->
        <i ng-click='vm.deleteGoal(goal.id)' class="material-icons right" style="margin: 0px 15px 0px 0px;">delete_forever</i>
        <!-- Show Sub Goals -->
        <span ng-if="goal.hasChildren">
          <i ng-click="vm.toggleSubs(goal)" class="material-icons right" style="margin: 0px 15px 0px 0px;">swap_vertical_circle</i>
        </span>
      </li>
      <!-- Sub Goals -->
      <div ng-show="goal.subsDisplayed">
        <div ng-repeat="sub in vm.goals | filter: {GoalId: goal.id}:true">
          <li class="collection-item">
            <input type="checkbox" id="{{sub.id}}" ng-checked="{{sub.complete}}" disabled="disabled" />
            <label for="{{sub.id}}" style="display: initial;">{{sub.goalName}}</label>
          </li>
        </div>
      </div>
    </ul>
  </div>
</div>

<!-- Add Goal Modal -->
<div id="newGoalModal" class="modal" style="width: 85%; height: 70%;">
  <div class="modal-content">
    <div class="row">
      <div class="row">
        <div class="input-field">
          <input ng-model="vm.goal" placeholder="Add a New Goal" required>
        </div>
      </div>
      <div class="row">
        <!-- Dropdown Trigger -->
        <a class="dropdown-button btn" href="javascript:void(0);" data-activates="goalType" dropdown data-hover="true">How will you finish your goal?</a>
        <!-- Dropdown Structure -->
        <ul id="goalType" class="dropdown-content">
          <li><a ng-click="vm.quantity = false">Do once</a></li>
          <li><a ng-click="vm.quantity = true">Quantify your goal</a></li>
        </ul>
      </div>
      <div class="row" ng-show="vm.quantity">
        <div style="display: inline-block;">I will</div>
        <!-- TODO: Make into main goal title -->
        <div input-field style="display: inline-block;">
          <input type="text" ng-model="vm.verb" length="20">
          <label>Goal</label>
        </div>
        <span style="display: inline-block;">at least</span>
        <div input-field style="display: inline-block;">
          <input type="text" ng-model="vm.number" length="10">
          <label>Target</label>
        </div>
        <div input-field style="display: inline-block;">
          <input type="text" ng-model="vm.units" length="10">
          <label>Units</label>
        </div>
        <!-- End of TODO -->
      </div>
      <!-- Calendar -->
      <datepicker>
        <input ng-model="vm.date" type="text" placeholder="Add an end date for your goal" required/>
      </datepicker>
      <!-- Submit Button -->
      <div class="right">
        <a href="#!" ng-click="vm.addGoal()" class="btn modal-action modal-close waves-effect waves-green btn btn-flat">Submit Goal!</a>
      </div>
    </div>
  </div>
</div>

<!-- Add Sub Goal Modal -->
<div id="newSubGoalModal" class="modal" style="width: 85%; height: 70%;">
  <div class="modal-content">
    <div class="row">
      <div class="row">
        <div class="input-field">
          <input ng-model="vm.goal" placeholder="Add a New Sub-Goal" required>
        </div>
      </div>
      <div class="row">
        <!-- Dropdown Trigger -->
        <a class="dropdown-button btn" href="javascript:void(0);" data-activates="subGoalType" dropdown data-hover="true">How will you finish your goal?</a>
        <!-- Dropdown Structure -->
        <ul id="subGoalType" class="dropdown-content">
          <li><a ng-click="vm.quantity = false">Do once</a></li>
          <li><a ng-click="vm.quantity = true">Quantify your goal</a></li>
        </ul>
      </div>
      <div class="row" ng-show="vm.quantity">
        <div style="display: inline-block;">I will</div>
        <!-- TODO: Make into Sub Goal title -->
        <div input-field style="display: inline-block;">
          <input type="text" ng-model="vm.verb" length="20">
          <label>Sub Goal</label>
        </div>
        <span style="display: inline-block;">at least</span>
        <div input-field style="display: inline-block;">
          <input type="text" ng-model="vm.number" length="10">
          <label>Target</label>
        </div>
        <div input-field style="display: inline-block;">
          <input type="text" ng-model="vm.units" length="10">
          <label>Units</label>
        </div>
        <!-- End of TODO -->
      </div>
      <!-- Calendar -->
      <datepicker>
        <input ng-model="vm.date" type="text" placeholder="Add an end date for your goal" required/>
      </datepicker>
      <!-- Submit Button -->
      <div class="right">
        <a href="#!" ng-click="vm.addGoal(vm.parentGoal)" class="btn modal-action modal-close waves-effect waves-green btn btn-flat">Submit Goal!</a>
      </div>
    </div>
  </div>
</div>

<!-- Update Main Goal Progress Modal -->
<div id="goalProgressModal" class="modal" style="width: 45%; height: 45%;">
  <div class="modal-content">
    <div class="row">
      <div class="input-field">
        <input ng-model="vm.goal" required>
      </div>
    </div>
  </div>
  <div class="right">
    <a href="#!" ng-click="vm.addProgress()" class="btn modal-action modal-close waves-effect waves-green btn btn-flat">Submit Goal!</a>
  </div>
</div>

<!-- Update Sub Goal Progress Modal -->
<div id="subProgressModal" class="modal" style="width: 45%; height: 45%;">
  <div class="modal-content">
    <div class="row">
      <div class="input-field">
        <input ng-model="vm.goal" required>
      </div>
    </div>
  </div>
  <div class="right">
    <a href="#!" ng-click="vm.addProgress()" class="btn modal-action modal-close waves-effect waves-green btn btn-flat">Submit Goal!</a>
  </div>
</div>
