<!-- about.html -->
<!-- nav bar -->
<nav>
   <div class="nav-wrapper light-blue darken-4" ng-controller="AuthCtrl">
    <img src="../images/logo.png" alt="Accomplish.life Logo" class="logo">
    <a href = "#" class="brand-logo, tk-pollen-web, headerTitle">Accomplish.Life</a>
    <ul id="nav-mobile" class="right hide-on-small-and-down" style="margin-right: 30px;">
      <li><a class="tk-pollen-web" ui-sref="home">Goal Dashboard</a></li>
      <li ><a class="tk-pollen-web" ng-if="vm.displayLoginButton()" ui-sref="auth">Log In</a></li>
      <li ><a class="tk-pollen-web" ng-if="!vm.displayLoginButton()" ui-sref="auth" ng-click="authService.logout()">Log Out</a></li>
    </ul>
  </div>
</nav>
 <div id="theteam">
      <section class="row">
        <article class="col s3">
          <img src="../assets/josephine.jpg" class="circle">
          <h4>Josephine</h4>
          <p>I’ve got an awesome Halo helmet that beats every other cosplayer ever and crazy skills to boot.</p>
        </article>
        <article class="col s3">
          <img src="../assets/kevin.jpg" class="circle">
          <h4>Kevin</h4>
          <p>I play the piano like nobody’s business and can meow a Frank Sinatra song better than ol’ blue eyes himself.</p>
        </article>
        <article class="col s3">
          <img src="../assets/eric.jpg" class="circle">
          <h4>Eric</h4>
          <p>I’m a go getter out of New Jersey. For lunch I often make myself a delicious shake that makes Jamba Juice jealous.</p>
        </article>
        <article class="col s3">
          <img src="../assets/andy.jpg" class="circle">
          <h4>Andy</h4>
          <p>I ate a cheeseburger once. It was alright. I have more houseplants than you can shake a stick at.</p>
        </article>
      </section>
    </div>


