  <nav>
    <div class="nav-wrapper light-blue darken-4" ng-controller="AuthCtrl">
      <img src="../images/logo.png" alt="Accomplish.life Logo" class="logo">
      <a href = "#" class="brand-logo, tk-pollen-web, headerTitle">Accomplish.Life</a>
      <ul id="nav-mobile" class="right hide-on-small-and-down" style="margin-right: 30px;">
        <li ><a class="tk-pollen-web" ng-if="vm.displayLoginButton()" ui-sref="auth" ng-click="vm.authService.login()">Log In</a></li>
        <li ><a class="tk-pollen-web" ng-if="!vm.displayLoginButton()" ui-sref="home" ng-click="authService.logout()">Log Out</a></li>
        <li><a class="tk-pollen-web" ui-sref="about">About Us</a></li>
      </ul>
    </div>
  </nav>
<div class="container, authBody" style="text-align:center;">
  <br>
  <br>
  <span class="statement">What do you want to accomplish?</span>
  <br>
  <br>

  <div class="subheadingholder1">
    <div class="subheadingholder2">
      <span class="subheading">Accomplish.life will help you articulate your goals, meet your deadlines, and create the life you want to live.</span>
    </div>
  </div>

  <div class="footerholder">
      <div class="footer">
        <a class="waves-effect waves-light light-blue darken-4 btn" id="startButton" ng-click="vm.authService.login()">Start Now</a>
      </div>
  </div>
</div>