  <nav>
    <div class="nav-wrapper blue" ng-controller="AuthCtrl">
      <a href = "#" class="brand-logo">Accomplish.Life</a>
      <ul id="nav-mobile" class="right hide-on-small-and-down" style="margin-right: 30px;">
        <li><a ui-sref="home">Goal Dashboard</a></li>
        <li ><a ng-if="vm.displayLoginButton()" ui-sref="auth">Log In</a></li>
        <li ><a ng-if="!vm.displayLoginButton()" ui-sref="home" ng-click="authService.logout()">Log Out</a></li>
      </ul>
    </div>
  </nav>
<div class="container">

Welcome to Accomplish.Life!

Here are the reasons you should use our site...

<button class="btn btn-primary" ng-click="vm.authService.login()">Sign Up/Log In</button>

</div>